In [ ]:
!pip install scikit-learn

In [ ]:
import utils
import warnings
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

global companies_set 

warnings.filterwarnings('ignore')

# EDA - BC

In [ ]:
path = r"D:\Documentos_D\UFCG\2021.2e\TCC\Project\analise-de-indicador-tcc-ufcg\Data\indicadores_Siteware.csv"
companies_set = utils.prepare_datasets(path)

# 2 - Análise Exploratória dos Dados

## 2.2 - Médias e Boxplot de Volume de Vendas

### 2.2.1 - BC

#### - *BC - ME - R1*

In [ ]:
company = companies_set[0][0]
channel = 'ME'
market = 'R1'
cmp_df_r1 = companies_set[0][1].reset_index().drop(['index'],axis=1)
cmp_df_r1 = cmp_df_r1[((cmp_df_r1.Canal_Distribuicao == channel) & (cmp_df_r1.Mercado == market))]
cmp_df_r1 = cmp_df_r1[((cmp_df_r1.Empresa != "NaN") & (cmp_df_r1.Canal_Distribuicao != "NaN") & (cmp_df_r1.Mercado != "NaN"))]
cmp_df_r1 = cmp_df_r1.sort_values(by='Volume_Venda').reset_index().drop(['index'],axis=1)
cmp_df_r1 = cmp_df_r1.drop_duplicates('Data',keep='last').sort_values(by='Data').reset_index().drop(['index'],axis=1)

print("Início dos dados:")
display(cmp_df_r1.head(1))
print("Fim dos dados:")
display(cmp_df_r1.tail(1))

means_bc_me_r1 = []
year = 2012

while year < 2022:
    query = cmp_df_r1[((cmp_df_r1.Data >= str(year)) & (cmp_df_r1.Data < str(year+1)))]
    query['Volume_Venda'] = query['Volume_Venda'].astype(float)
   
    mean = np.round(query['Volume_Venda'].mean(),4)
    boxplot = query.boxplot(column = ['Volume_Venda'])
    
    save_path = r"D:\Documentos_D\UFCG\2021.2e\TCC\graficos\boxplot" + "\\" + company + "\\" + channel +"_" + market  + "_" + str(year) + ".png"
    plt.title(company + " - " + channel + " - " + market + " - " + str(year))
    plt.savefig(save_path)
    plt.close()
    
    means_bc_me_r1.append(mean)
    year += 1

means = means_bc_me_r1
bars = ['2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']
y_pos = np.arange(len(bars))
plt.title("Média do Volume de Vendas/ano | " + companies_set[0][0] + " - ME - R1")
plt.plot(y_pos, means)
plt.xticks(y_pos, bars)

save_path = r"D:\Documentos_D\UFCG\2021.2e\TCC\graficos\media" + "\\" + company + "\\" + channel + "_" + market + "_media" ".png"
plt.savefig(save_path)

plt.close()

In [150]:
cmp_df_r1

    Empresa Canal_Distribuicao Mercado Volume_Venda                     Data
0        BC                 ME      R1       9498.0  2012-01-01 00:00:00.000
1        BC                 ME      R1       9596.0  2012-02-01 00:00:00.000
2        BC                 ME      R1      10424.0  2012-03-01 00:00:00.000
3        BC                 ME      R1      12276.0  2012-04-01 00:00:00.000
4        BC                 ME      R1      11616.0  2012-05-01 00:00:00.000
..      ...                ...     ...          ...                      ...
116      BC                 ME      R1      13700.0  2021-09-01 00:00:00.000
117      BC                 ME      R1      14258.0  2021-10-01 00:00:00.000
118      BC                 ME      R1      14128.0  2021-11-01 00:00:00.000
119      BC                 ME      R1      15368.0  2021-12-01 00:00:00.000
120      BC                 ME      R1      17318.0  2022-01-01 00:00:00.000

[121 rows x 5 columns]