In [98]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [99]:
path = r"D:\Documentos_D\UFCG\2021.2e\TCC\Project\Data\indicadores_Siteware.csv"
df = pd.read_csv(path,sep =",")
df.head(5)

,Indicador,Indicador_Polaridade,Acompanhamento_UnidadeGeren_ID,Acompanhamento_TipoAcompa_ID,Acompanhamento_AgrupamentoTxt,Dim1_Dimensao_ID,Dim1_Membro_ID,Dim2_Dimensao_ID,Dim2_Membro_ID,Dim3_Dimensao_ID,...,LimSupAmarelo,LimInfVerde,LimSupVerde,LimInfAzul,ID_Empresa,KPI_Nome,Dim1_Membro_Mome,Dim2_Membro_Mome,Dim3_Membro_Mome,UnidadeMedida_Nome
0,1110000000133,Para Cima,1110000000248,1110000000001,Indicadores de Desempenho,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.1,1.1,08B6BF57-65EB-47F3-9AA1-1987CDE6852C,Volume De Vendas,NaN,NaN,NaN,t
1,1110000000133,Para Cima,1110000000248,1110000000001,Indicadores de Desempenho,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.1,1.1,08B6BF57-65EB-47F3-9AA1-1987CDE6852C,Volume De Vendas,NaN,NaN,NaN,t
2,1110000000133,Para Cima,1110000000248,1110000000001,Indicadores de Desempenho,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.1,1.1,08B6BF57-65EB-47F3-9AA1-1987CDE6852C,Volume De Vendas,NaN,NaN,NaN,t
3,1110000000133,Para Cima,1110000000248,1110000000001,Indicadores de Desempenho,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.1,1.1,08B6BF57-65EB-47F3-9AA1-1987CDE6852C,Volume De Vendas,NaN,NaN,NaN,t
4,1110000000133,Para Cima,1110000000248,1110000000001,Indicadores de Desempenho,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.1,1.1,08B6BF57-65EB-47F3-9AA1-1987CDE6852C,Volume De Vendas,NaN,NaN,NaN,t

In [100]:
print("Total de indicadores geral: ", len(df))

Total de indicadores geral:  8938

In [101]:
filtered_df = df[['Indicador','Dim1_Membro_Mome','Dim2_Membro_Mome','Dim3_Membro_Mome','VLR_Ocorrencia','Tipo_Registro']]
filtered_df = filtered_df[filtered_df['Tipo_Registro'] == "Apurado"].drop(['Tipo_Registro','Indicador'],axis=1)
filtered_df.columns = ['Empresa','Canal_Distribuicao','Mercado','Valor_Ocorrencia']
filtered_df

     Empresa Canal_Distribuicao Mercado  Valor_Ocorrencia
0        NaN                NaN     NaN         63198.005
1        NaN                NaN     NaN        107754.000
2        NaN                NaN     NaN        118044.000
3        NaN                NaN     NaN         75890.000
4        NaN                NaN     NaN        102560.000
...      ...                ...     ...               ...
8921      BR                 MI  Brasil               NaN
8922      BR                 MI  Brasil               NaN
8923      BR                 MI  Brasil               NaN
8924      BR                 MI  Brasil               NaN
8925      BR                 MI  Brasil               NaN

[4469 rows x 4 columns]

In [102]:
# Contando NaNs do dataframe apenas do valores do tipo_registro "Apurado" (total de 4469 linhas):
dim1_membro_mome_nan_sum = filtered_df.Empresa.isna().sum()
dim2_membro_mome_nan_sum = filtered_df.Canal_Distribuicao.isna().sum()
dim3_membro_mome_nan_sum = filtered_df.Mercado.isna().sum()
vlr_ocorrencia_nan_sum = filtered_df.Valor_Ocorrencia.isna().sum()

print("Quantidade de NaNs de empresa (Dim1_Membro_Mome): ",dim1_membro_mome_nan_sum)
print("Quantidade de NaNs de canal de distribuição (Dim2_Membro_Mome): ", dim2_membro_mome_nan_sum)
print("Quantidade de NaNs de mercado (Dim3_Membro_Mome): ", dim3_membro_mome_nan_sum)
print("Quantidade de NaNs dos valores de ocorrencia (VLR_Ocorrencia): ", vlr_ocorrencia_nan_sum)

Quantidade de NaNs de empresa (Dim1_Membro_Mome):  1020
Quantidade de NaNs de canal de distribuição (Dim2_Membro_Mome):  756
Quantidade de NaNs de mercado (Dim3_Membro_Mome):  1416
Quantidade de NaNs dos valores de ocorrencia (VLR_Ocorrencia):  458

In [103]:
# Substituindo os valores NaNs pela string 'NaN':
filtered_df = filtered_df.fillna("NaN")
filtered_df

     Empresa Canal_Distribuicao Mercado Valor_Ocorrencia
0        NaN                NaN     NaN        63198.005
1        NaN                NaN     NaN         107754.0
2        NaN                NaN     NaN         118044.0
3        NaN                NaN     NaN          75890.0
4        NaN                NaN     NaN         102560.0
...      ...                ...     ...              ...
8921      BR                 MI  Brasil              NaN
8922      BR                 MI  Brasil              NaN
8923      BR                 MI  Brasil              NaN
8924      BR                 MI  Brasil              NaN
8925      BR                 MI  Brasil              NaN

[4469 rows x 4 columns]

In [104]:
# Removendo do dataframe linhas que possuem as três "Dim_Membro_Mome" vazias:
filtered_df = filtered_df[(filtered_df.Empresa != "NaN") & (filtered_df.Canal_Distribuicao != "NaN") & 
                          (filtered_df.Mercado != "NaN")]
filtered_df

     Empresa Canal_Distribuicao   Mercado Valor_Ocorrencia
264       BC                 ME  Am.Norte          10070.0
265       BC                 ME  Am.Norte           9434.0
266       BC                 ME  Am.Norte          14882.0
267       BC                 ME  Am.Norte          12618.0
268       BC                 ME  Am.Norte           8516.0
...      ...                ...       ...              ...
8921      BR                 MI    Brasil              NaN
8922      BR                 MI    Brasil              NaN
8923      BR                 MI    Brasil              NaN
8924      BR                 MI    Brasil              NaN
8925      BR                 MI    Brasil              NaN

[2261 rows x 4 columns]

In [105]:
# Removendo do dataframe linhas que possuem o "Valor de Ocorrência" vazio:
filtered_df = filtered_df[(filtered_df.Valor_Ocorrencia != "NaN")].reset_index()

In [106]:
# Reconfigurando os índices:
new_index = []
for i in range(len(filtered_df)):
    new_index.append(i+1)
filtered_df = filtered_df.set_index(pd.Index(new_index))
df = filtered_df
df

      index Empresa Canal_Distribuicao   Mercado Valor_Ocorrencia
1       264      BC                 ME  Am.Norte          10070.0
2       265      BC                 ME  Am.Norte           9434.0
3       266      BC                 ME  Am.Norte          14882.0
4       267      BC                 ME  Am.Norte          12618.0
5       268      BC                 ME  Am.Norte           8516.0
...     ...     ...                ...       ...              ...
2041   8530      BI                 ME      Ásia          22100.0
2042   8602      BI                 ME    Europa          33926.0
2043   8804      BR                 EE      Ásia          22100.0
2044   8828      BR                 EE    Europa          57880.0
2045   8916      BR                 MI    Brasil           1818.0

[2045 rows x 5 columns]

In [107]:
empresas = df.Empresa.unique()
canais = df.Canal_Distribuicao.unique()
mercados = df.Mercado.unique()
print("Empresas: ", empresas)
print("Canais: ", canais)
print("Mercado: ", mercados)

Empresas:  ['BC' 'BI' 'BT' 'BR']
Canais:  ['ME' 'EE' 'MI']
Mercado:  ['Am.Norte' 'Ásia' 'Europa' 'Am.Latina' 'Japão' 'Brasil']

In [108]:
# Substituindo os nomes dos mercados, para omitir informações confidenciais:
df['Mercado'] = df['Mercado'].replace(['Am.Norte','Ásia','Europa','Am.Latina','Japão','Brasil'],['Região_1','Região_2','Região_3','Região_4','Região_5','Região_6'])
df

      index Empresa Canal_Distribuicao   Mercado Valor_Ocorrencia
1       264      BC                 ME  Região_1          10070.0
2       265      BC                 ME  Região_1           9434.0
3       266      BC                 ME  Região_1          14882.0
4       267      BC                 ME  Região_1          12618.0
5       268      BC                 ME  Região_1           8516.0
...     ...     ...                ...       ...              ...
2041   8530      BI                 ME  Região_2          22100.0
2042   8602      BI                 ME  Região_3          33926.0
2043   8804      BR                 EE  Região_2          22100.0
2044   8828      BR                 EE  Região_3          57880.0
2045   8916      BR                 MI  Região_6           1818.0

[2045 rows x 5 columns]